{{!-- message Category (admin side) --}}
{{#if messageCategory}}
    <div class="msg">
        <h4>{{messageCategory}}</h4>
    </div>
{{else}}
    <div class="msg">
        <h4></h4>
    </div>
{{/if}}

{{!-- message Room (admin side) --}}
{{#if msgRoom}}
    <div class="msg">
        <h4>{{msgRoom}}</h4>
    </div>
{{/if}}

{{!-- message caracteristic (admin side) --}}
{{#if messageCarac}}
    <div class="msg">
        <h4>{{messageCarac}}</h4>
    </div>
{{else}}
    <div class="msg">
        <h4></h4>
    </div>
{{/if}}

{{!-- message Offer (client side)--}}
{{#if messageOffer}}
    <div class="msg-offer">
        <h4>{{messageOffer}}</h4>
    </div>
{{else}}
    <div class="msg-offer">
        <h4></h4>
    </div>
{{/if}}

{{!-- message booked --}}
{{#if messageBooked}}
    <div class="msg-booked">
        <h4>{{messageBooked}}</h4>
    </div>
{{/if}}

{{!-- message Reservation(admin side) --}}
{{#if messageRsv}}
    <div class="msg-rsv">
        <h4>{{messageRsv}}</h4>
    </div>
{{/if}}

{{!-- message contact home page (client side) --}}
{{#if msgContact}}
    <div class="msg-contact">
        <h4>{{msgContact}}</h4>
    </div>
{{/if}}

{{!-- message deleted 'messages' (admin side) --}}
{{#if msgMsg}}
    <div class="msg">
        <h4>{{msgMsg}}</h4>
    </div>
{{/if}}

{{!-- message image --}}
{{#if msgImage}}
    <div class="msg">
        <h4>{{msgImage}}</h4>
    </div>
{{/if}}

